.header{

    width:100vw;
    height: 15vh;
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__ul{
    display: flex;
    place-content: center;
    gap: 20px;
    
}
.header__logo{
    position: relative;
}

.header__logo-img{

    width: 150px;

}

.header__ul{
    list-style: none;
}

.header__li{


}
.header__button{
}
.header__iniciar{

    /* color: blue; */

}

.header__registrarse{

    /* color: yellow; */

}